.hiw-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.hiw-container h1 {
  margin: 10px auto;
  text-align: center;
}

.hiw-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.hiw-container p {
  width: 100%;
  display: block;
  margin: 30px auto;
  text-align: center;
}
.hiw-container h2 {
  text-align: center;
  margin: 50px auto;
}

.hiw-table {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: center;
  border: none;
}

.hiw-table th,
.hiw-table td {
  padding: 10px;
}

.hiw-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.hiw-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
