.contact-container {
  width: 100%;
  max-width: var(--large-desktop);
  margin: var(--spacing-xl) auto;
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: var(--spacing-lg);
  flex-wrap: wrap;
  margin: var(--spacing-xl) 0;
}

.contact-card {
  background: var(--secondary-background-color);
  padding: var(--spacing-lg);
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
}

.contact-card img {
  width: 40px;
  height: 40px;
  margin-bottom: var(--spacing-sm);
}

.contact-card h3 {
  margin: 0;
  font-size: clamp(16px, 1.5vw, 18px);
  font-weight: bold;
  margin-bottom: var(--spacing-sm);
}

.contact-card p {
  font-size: clamp(14px, 1vw, 16px);
}

/* Harita kısmı */
.contact-map {
  width: 100%;
  height: 300px;
  margin-top: var(--spacing-lg);
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .contact-container {
    margin: var(--spacing-lg) auto;
  }

  .contact-info {
    gap: var(--spacing-md);
    margin: var(--spacing-lg) 0;
  }

  .contact-card {
    padding: var(--spacing-md);
  }
}

@media (max-width: 480px) {
  .contact-map {
    height: 250px;
  }

  .contact-card {
    padding: var(--spacing-sm);
  }
}
