.contact-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 40px 0;
}

.contact-card {
  background: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.contact-card img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.contact-card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.contact-card p {
  font-size: 16px;
}

/* Harita kısmı */
.contact-map {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}
