.container {
  max-width: var(--large-desktop);
  width: 100%;
  margin: 0 auto;
  padding: var(--container-padding-desktop);
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: var(--container-padding-tablet);
  }
}

@media (max-width: 768px) {
  .container {
    padding: var(--container-padding-mobile);
  }
}
