.navbar-main-container {
  width: 100%;
  height: 60px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
  background-color: var(--background-color);
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.navbar-links a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar-links a:hover {
  color: var(--primary-color);
}

.navbar-links a:active {
  color: var(--primary-color);
  text-decoration: underline;
}

@media (max-width: 850px) {
  .navbar-links {
    display: none;
  }
}
